@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <p>from Aoife & Fiona</a>.</p>
    <p>I wonder if this is still working.............................:D</p>
</div>
